.container {
    width: 100vw;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 16px;

    height: 60px;


    @media (min-width: 1920px) {
        background-color: red;
        font-size: 18px;
    }
}