LOL_FRONT_IMAGE=
LOL_BACK_IMAGE=
DEV_MYSQL_DATABASE=
DEV_MYSQL_USER=
DEV_MYSQL_PASSWORD=
DEV_MYSQL_ROOT_PASSWORD=
DEV_SPRING_DATASOURCE_URL=
DEV_SPRING_DATASOURCE_USERNAME=
DEV_SPRING_DATASOURCE_PASSWORD=
DEV_SPRING_JWT_SECRET=
DEV_RIOT_API_BASEURL_KR=
DEV_RIOT_API_BASEURL_ASIA=
DEV_RIOT_API_KEY=
