APP_SERVER_IP=168.107.4.77

MYSQL_DATABASE=lol_team_balance_tool
MYSQL_USER=carrotbat410
MYSQL_PASSWORD=lee9250404!
MYSQL_ROOT_PASSWORD=cb410-root-2026!

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/lol_team_balance_tool?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=carrotbat410
SPRING_DATASOURCE_PASSWORD=lee9250404!
SPRING_JWT_SECRET=saboebr2v7cgskebfa7stcbkzmh9ahvaf7af4134k51cfayst2jcyas4fhsnvka3wifb2
RIOT_API_BASEURL_KR=https://kr.api.riotgames.com
RIOT_API_BASEURL_ASIA=https://asia.api.riotgames.com
RIOT_API_KEY=RGAPI-f59dfeec-488c-4e63-8bbb-49d5e10c141b
