.container{
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #4D5156;
}

.navItem{
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid red; */
    border: none;
    min-width: 70px;
    padding: 5px 0px;
    /* min-height:  */
    background-color: inherit;
    
}
